# Directory
out

/.vscode
/bin
/book
/docs/*
!/docs/_includes
/docs/_includes/notes_graph.json
!/docs/_layouts
!/docs/_plugins
!/docs/_sass
!/docs/404.html
!/docs/Gemfile
!/docs/styles.scss

# File
*.Identifier
*.log
*.pdf

/.editorconfig
/cptest.sh
/input.md
